body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    animation: glow 1.5s infinite alternate;
    text-shadow: 
    0 0 5px #0ff, /* Sombra suave */
    0 0 10px #0ff, 
    0 0 20px #0ff, 
    0 0 30px #00f, 
    0 0 40px #00f, 
    0 0 50px #00f;
    animation: neon-blink 1s infinite;
  }
  

  @keyframes neon-blink {
    0%, 100% {
      text-shadow: 
        0 0 5px #0ff, 
        0 0 10px #0ff, 
        0 0 20px #0ff, 
        0 0 30px #00f, 
        0 0 40px #00f, 
        0 0 50px #00f; /* Máximo brillo */
    }
    50% {
      text-shadow: 
        0 0 2px #0ff, 
        0 0 4px #0ff, 
        0 0 8px #0ff, 
        0 0 12px #00f, 
        0 0 16px #00f, 
        0 0 20px #00f; /* Brillo reducido */
    }
  }

  .vertical-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: stretch; 
    margin: 10px 0;
    text-decoration: none;
  }

  .vertical-list a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: inherit; 
  }

  .vertical-list li {
    padding: 10px 0;
    font-size: 18px; 
    color: #ffffff; 
    cursor: pointer; 
    transition: font-weight 0.3s ease;
    margin: 10px 0; 
    text-align: center;
    list-style-type: none;
    text-decoration: none; 
  }
  
  .vertical-list li:hover {
    font-weight: bold; 
    text-shadow: 
    0 0 5px #0ff, /* Sombra suave */
    0 0 10px #0ff, 
    0 0 20px #0ff, 
    0 0 30px #00f, 
    0 0 40px #00f, 
    0 0 50px #00f; /* Brillo más intenso */
  color: rgb(255, 255, 255); /* Cambia el color del texto para realzar el efecto */
  }

  a {
    cursor: pointer;
  }
 
